## Attendance List Parser

This notebook looks for two files:

1. an `apprentices.csv` that contains the columns `name`, `email` and `cohort`, and lists **all** the apprentices in your cohort. This should not need to change once set up.
2. an `attendance.csv` that just contains the columns `Name` and `Email`, and just lists the apprentices that attended the workshop in question. This can be most easily obtained by just copying the attendance section out of the Teams report and pasting it into a new CSV.

See the included example CSVs for details - you can just copy and paste directly into these (don't forget to remove the example rows!)

Once both these files are in place, just run the code below. 

**Note:** When restricting your list to just one cohort, enter the cohort name exactly as it appears in the `apprentices.csv` file in the variable `COHORT` in the first cell.

In [2]:
import pandas as pd
import datetime

# read in all apprentice names, emails and cohorts
apps = pd.read_csv('apprentices.csv')
apps['email'] = apps['email'].str.lower()
apps.rename(columns = {'name': 'app_name'}, inplace = True)

# filter for a certain cohort in your apprentices list
COHORT = 'DF(OPEN)-SEPT (TEAMS) E'
apps = apps[apps['cohort'] == COHORT].copy()

# read in attendance report data and just keep name and email columns
attn = pd.read_csv('attendance.csv')[['Name', 'Email']]
attn.columns = attn.columns.str.lower()
attn.rename(columns = {'name': 'teams_handle'}, inplace = True)
attn['email'] = attn['email'].str.lower()
attn['email'].fillna('no email', inplace = True)
attn['attended'] = 'yes'
attn.drop_duplicates(inplace = True)

# merge
all_attn = apps.merge(attn, on = ['email'], how = 'outer')
all_attn['attended'].fillna('no', inplace = True)

## Did Not Attend

The following apprentices did **not** attend:

In [3]:
all_attn[all_attn['attended'] == 'no'][['app_name', 'cohort']].sort_values(by = ['cohort', 'app_name'])

      app_name                   cohort
1  Scam Likely  DF(OPEN)-SEPT (TEAMS) E

## Attended, No Email

The following apprentices attended but did not provide an email to Teams, and so need to be manually checked:

In [4]:
all_attn[all_attn['email'] == 'no email'][['teams_handle']]

    teams_handle
2  Scam (Likely)

## Attended

The following apprentices attended:

In [5]:
all_attn[all_attn['attended'] == 'yes'][['app_name', 'cohort']].dropna()

     app_name                   cohort
0  John Smith  DF(OPEN)-SEPT (TEAMS) E

## All

These are all the apprentices in the cohort alphabetically, with their attendance status. **Note:** Watch out for those that did not provide an email address to Teams being marked as 'no' - check the above section for missing emails!

In [7]:
all_attn[['app_name', 'attended']].dropna().sort_values('app_name').style.applymap(lambda x: 'color: #b91c1c;font-weight:bold;' if x == 'no' else 'color: #16a34a;font-weight:bold;', subset = ['attended'])

## Save to file

**Optional.**

Run the cell below to run the full attendance report to a CSV, with today's date added as a column. This could be used later to concat with other attendance reports for further analysis.

**Note:** If running this report on a different date to the workshop date, you can also change the `date` column below to another date by uncommenting and entering a custom date string in the format `yyyy-mm-dd` into the `WORKSHOP_DATE` variable below.

In [ ]:
WORKSHOP_DATE = datetime.datetime.now().strftime("%Y-%m-%d")
# WORKSHOP_DATE = "23-07-10"

to_save = all_attn[['app_name', 'attended']].dropna().copy()

to_save['date'] = pd.to_datetime(WORKSHOP_DATE)

# optional - add more metadata to this dataset
# this could also be joined later using a simple lookup table and merging on date

# to_save['module'] = 1
# to_save['workshop_title'] = "Data in Industry"
# to_save['day'] = 1

# save to CSV

filename = WORKSHOP_DATE + "_" + COHORT + ".csv"
to_save.to_csv(filename)